body {
    font-family: monospace, sans-serif;
    margin: 0;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* HEADER --------------------- */

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
    align-items: center;
}

.header .top-links {
    display: flex;
    gap: 15px;
    flex-shrink: 0;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
}

.header .links {
    flex-shrink: 0;
}

.top-links a, .section-one .text  {
    color: #E5E7EB;
}

/* SECTION-ONE HERO ---------------------------- */

.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-one img {
    height: 300px;
    width: 600px;
    border: #F9FAF8;
    background-color: #E5E7EB;
}

.section-one .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
}

.section-one .content {
    height: 300px;
    width: 600px;
    flex-shrink: 0;
}

.section-one .big-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.section-one .text {
    font-size: 18px;
    margin-bottom: 25px;
}

.section-one .sign {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 16px 32px;
    border: 1px solid #E5E7EB;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

/* SECTION-TWO-------------------- */

.section-two {

}

.section-two .big-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* SECTION-THREE------------------------- */

.section-three {
    background-color: #E5E7EB;
}

.section-three .main-quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

/* SECTION-FOUR ------------------------- */

.section-four {

}

.section-four .container {
    background-color: #3882F6;
}

/* FOOTER --------------------------- */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}